.Events-HeroBanner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
   
    height: 90vh;
}
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap'); /* Import Alata font */

.Events-HeroBanner h1{
    font-size: 13rem;
    color: #774939;
    letter-spacing: 0.8rem;
    margin-top: -3%;
    position: relative;
    font-family: 'Alata', sans-serif !important;
    text-align: center;
    white-space: nowrap;
    margin-bottom: 4%;
    
   
}

.Container-title{
    font-size: 3rem;
}

.Events-HeroBanner h1::after {
    content: attr(data-text); /* Use the same text as the original element */
    position: absolute;
    top: 6px; /* Adjust the position to create the parallax effect */
    left: 6px; /* Adjust the position to create the parallax effect */
    
    color: transparent; /* Make the fill color transparent */
    -webkit-text-stroke: 2px #DC5343; /* Shadow color */
    white-space: nowrap;
    z-index: -1; /* Place it behind the original text */
}


.HeroText{
    font-size: 1.5rem;
    margin-top: 1%;
    width: 50%;
    text-align: center;
    font-weight: 500;
}

.Workshops-container{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.Carousel-container{
    width: 100vw;
}


