.event-card {
  position: relative;
  display: flex;
}

.event-card-content {
  position: absolute;
  top: 20px;
  font-size: 3rem;
  width: 100%;
}
@import url("https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
.event-card-content h1 {
  text-align: center;
  font-size: 3rem;
  color: #f0f0f0;
  font-family: "Outfit", sans-serif;
}

.hover-card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  overflow: auto;
  padding: 0 20px;
  box-sizing: border-box;

  transition: height 0.3s ease-in-out, padding 0.3s ease-in-out;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.event-card:hover .hover-card-content {
  height: 80%;
  padding: 20px;
}

.hover-card-content::-webkit-scrollbar {
  width: 12px;
}

.hover-card-content::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.hover-card-content::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0.8);
}

.hover-card-content::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.7);
}

.hover-card-content h1 {
  font-size: 3rem;
  margin-bottom: 7px;
}

.hover-card-content p {
  font-size: 1.5rem;
  line-height: 1.5;
}

#Info {
  margin-top: 5px;
}

#SecondaryInfo {
  margin-top: 5px;
}

.register-btn {
  position: absolute;
  top: 10%;
  right: 10%;
}

.register-btn {
  position: absolute;
  top: 6%;
  right: 10%;
  background-color: #faca78;
  color: #333;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  font-family: "Outfit", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.register-btn:hover {
  background-color: #ff4081;
  color: white;
}

@media screen and (max-width: 768px) {
  .event-card-content h1 {
    font-size: 2rem;
  }

  .hover-card-content h1 {
    font-size: 2rem;
  }

  .hover-card-content p {
    font-size: 1.2rem;
  }

  .register-btn {
    font-size: 1rem;
  }
}
