.Showcase-Container{
    padding-left:4% ;
    padding-right: 4%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 50px;
    align-self: center;
    justify-content: space-around;
}

.Events-HeroBanner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
   
    height: 90vh;
}

.Events-HeroBanner h1{
    font-size: 14rem;
    color: #774939;
    letter-spacing: 0.6rem;
    margin-top: -3%;
    position: relative;
    font-family: 'Bangers', cursive;
    text-align: center;
    white-space: nowrap;
    
   
}

.Events-HeroBanner h1::after {
    content: attr(data-text); 
    position: absolute;
    top: 4px; 
    left: 4px;
    
    color: transparent; 
    -webkit-text-stroke: 2px #DC5343; 
    white-space: nowrap;
    z-index: -1; 
}


.HeroText{
    font-size: 1.5rem;
    margin-top: 0.2%;
    width: 50%;
   
    font-weight: 500;
}

html, body {
    margin: 0;
    padding: 0;
}


@media screen and (max-width: 768px){
    .Showcase-Container{
        
       width: 100%;
    }
    .Events-HeroBanner h1{
        font-size: 8rem;
    }
    .Events-HeroBanner{
        height: 70vh;
    }
    .HeroText{
        font-size: 1.3rem;
        width: 80%;
    }
    
}
