@import url("https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background-image: url("./components/images/extraextralong.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #faebd7;
}

html {
  font-size: 62.5%;
}

@media (min-width: 1200px) {
  html {
    font-size: 65%;
  }
}

@media (min-width: 1600px) {
  html {
    font-size: 90%;
  }
}

@media (min-width: 2000px) {
  html {
    font-size: 110%;
  }
}

@media (min-width: 2800px) {
  html {
    font-size: 130%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 70%;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 50%;
  }
}
